name: Node.js CI

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ["24.x"]
        os: [ubuntu-latest]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.28.1
          run_install: false

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm run test

      - name: Test - TypeScript
        run: pnpm run test:ts
